services:
  - type: web
    name: atentidoc-web
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: APP_NAME
        value: AtentiDoc
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://atentidoc-web.onrender.com
      - key: LOG_CHANNEL
        value: errorlog
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: API_BASE_URL
        value: https://atentidoc.onrender.com/api
      - key: API_TIMEOUT
        value: 30
      - key: API_VERIFY_SSL
        value: true